.UserList table,th,td{
    border: 1px solid darkgoldenrod;
}
.UserList th, td {
    padding: 15px 35px;
}
.UserList th {
    color: saddlebrown;
}
.UserHeading {
    color: black;
}
.Btn{
    outline: none;
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    border: none;
    color: black;
    background: #FFCC00;
    cursor: pointer;
}
.Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}
.AddBtn {
    border: none;
    padding: 0.5rem 1rem;
    background: green ;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}